{
  "presets": [
    ["@babel/env",{
      "modules": false,
      "targets": {
        "browsers": ">25%, ie 11, not op_mini all, not dead",
        "node": 11 
      }
    }],
    "@babel/react"
  ]
}